body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: "Racing Sans One", cursive;
}
@font-face {
  font-family: 'Racing Sans One';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/racing-sans-one-v7-latin-regular.eot'); 
  src: local('Racing Sans One'), local('RacingSansOne-Regular'),
       url('../fonts/racing-sans-one-v7-latin-regular.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/racing-sans-one-v7-latin-regular.woff2') format('woff2'), 
       url('../fonts/racing-sans-one-v7-latin-regular.woff') format('woff'), 
       url('../fonts/racing-sans-one-v7-latin-regular.ttf') format('truetype'), 
       url('../fonts/racing-sans-one-v7-latin-regular.svg#RacingSansOne') format('svg');
}
.logo {
  font-family: "Monoton", cursive;
  font-size: 3rem;
}
.design_for_links {
  color: white;
  font-size: 1.5rem;
}
.design_for_navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(189, 109, 89, 0.7);
  z-index: 100;
}
.design_for_links:hover {
  color: rgba(94, 68, 60, 0.8);
}
header {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(img/cardio-workout.jpg);
  background-size: cover;
  background-position: center;
  background-position-y: top;
  background-repeat: no-repeat;
}
h1 {
  text-transform: uppercase;
  text-align: right;
  background-color: rgba(189, 109, 89, 0.7);
}
.div_design_header {
  position: absolute;
  right: 0;
  top: 35%;
}
.design_paragraph {
  background-color: rgba(255, 255, 255, 0.8);
}
#about {
  width: 100%;
  min-height: 100vh;
  padding-top: 150px;
  padding-bottom: 50px;
  background: rgb(94, 68, 60);
  background: linear-gradient(
    66deg,
    rgba(94, 68, 60, 0.9192051820728291) 12%,
    rgba(156, 116, 116, 0.14609593837535018) 48%,
    rgba(94, 68, 60, 0.8603816526610644) 100%
  );
}
.columns {
  background-color: rgba(94, 68, 60, 0.8);
}
h2 {
  font-size: 44px;
  color: white;
}
#cardio {
  background-image: url("img/Cardio-Treadmill.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  box-shadow: 11px 13px 28px -13px rgba(0, 0, 0, 0.75);
}
#group {
  background-image: url("img/FRONT\ rsz_1shutterstock_162568466_0.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  box-shadow: 11px 13px 28px -13px rgba(0, 0, 0, 0.75);
}
#strenght {
  background-image: url("img/thezoo-weighttraining.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 30vh;
  box-shadow: 11px 13px 28px -13px rgba(0, 0, 0, 0.75);
}
#zumba {
  background-image: url("img/ihs_0-116_15000_1__jpg_crop_jpeg-1080x648.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 30vh;
  box-shadow: 11px 13px 28px -13px rgba(0, 0, 0, 0.75);
}
#crossfit {
  background-image: url("img/GettyImages-931805226-crossfitgames-alvarez.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 30vh;
  box-shadow: 11px 13px 28px -13px rgba(0, 0, 0, 0.75);
}
#boxing {
  background-image: url("img/cross_punch_boxing_main_0.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 30vh;
  box-shadow: 11px 13px 28px -13px rgba(0, 0, 0, 0.75);
}
#pilates {
  background-image: url("img/pilates-strong-upper-body.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 30vh;
  box-shadow: 11px 13px 28px -13px rgba(0, 0, 0, 0.75);
}
#personal {
  background-image: url("img/certified-pseronal-trainer-course-sq.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 30vh;
  box-shadow: 11px 13px 28px -13px rgba(0, 0, 0, 0.75);
}
.training-span {
  color: white;
}
.div-hover {
  background-color: white;
  padding: 10px;
  height: 40vh;
  text-shadow: 1px 1px 2px #9E5B54;
  overflow: auto;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 1.5s;
  transition-delay: 0.3s;
}
.div-visible {
  min-height: 40vh;
}
#main-div-hover {
  position: relative;
}
.container-hover {
  position: absolute;
  top: 0;
  margin-left: 50%;
  transform: translatex(-50%);
}
.div-hover:hover {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 1.5s;
  transition-delay: 0.3s;
}
#free-pass {
  position: relative;
  width: 100%;
  min-height: 35vh;
  background-color: rgba(189, 109, 89, 0.7);
}
.pass-button {
  width: 250px;
  height: 8vh;
  font-size: 26px;
  transition: width  1s linear;
}
.pass-button:hover{
 width: 320px;
 font-size: 34px;
 transition: font-size 1s linear;
}
.row-button {
  position: absolute;
  top: 25%;
}
#white-arrow {
  width: 100px;
  height: 80px;
  margin-left: 20px;
}
@media (max-width: 576px){
  #white-arrow {
    width: 70px;
    height: 40px;
    margin-left: 20px;
    align-self: center;
  }
}
.div-with-button {
  display: flex;
  flex-direction: row;
}
#register-today-text {
  font-size: 36px;
  color: white;
}
#health {
  background-image: url(img/girls_exercise_balls.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  padding-top: 150px;
  padding-bottom: 50px;
}
@media (max-width: 992px){
  #health{
    background-image: url(img/running-collection.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.fitness_health {
  background: rgba(255, 255, 255, 0.5);
  margin-top: 30%;
}
#health_heading {
  color: rgb(94, 68, 60);
}
#under_health_heading {
  width: 220px;
  background: rgba(189, 109, 89, 0.7);
  padding: 10px;
  border-radius: 10px;
}
.try-it-button {
  width: 220px;
  border-radius: 10px;
}
.trainers-photo {
  width: 100%;
  box-shadow: 11px 13px 28px -13px rgba(0, 0, 0, 0.75);
}
.trainer-div {
  background-color: rgba(94, 68, 60, 0.8);
  padding: 10px;
}
#trainers{
  background: linear-gradient(
    66deg,
    rgba(94, 68, 60, 0.9192051820728291) 12%,
    rgba(156, 116, 116, 0.14609593837535018) 48%,
    rgba(94, 68, 60, 0.8603816526610644) 100%
  );
  width: 100%;
  min-height: 100vh;
  padding-top: 150px;
  padding-bottom: 50px;
}
blockquote {
  background:#f9f9f9;
  border-left:10px solid #ccc;
  margin:1.5em 10px;
  padding:.5em 10px;
}
blockquote:before {
  color:#ccc;
  content:";
  font-size: 4em;
  line-height:.1em;
  margin-right: .25em;
  vertical-align: -.4em;
  quotes: '\201c' '\201d';
}
blockquote p {
  display:inline;
}
blockquote::before, 
blockquote::after {
  position: absolute; 
  font-size: 25pt; 
  color: #aaa; 
}
blockquote::before {
  content: '\201c'; 
  left: 0; 
}

blockquote::after {
  content: '\201d';
  right: 30px;
}
.about-trainer{
  background: rgba(189, 109, 89, 0.7);
  max-height: 200px;
  padding: 20px;
  border-radius: 4px;
  overflow: auto;
  text-shadow: 2px 2px 2px #FFFCFF;
}
@media (max-width: 768px){
  .about-trainer, blockquote{
    display: none;
  }
}
#contact{
  width: 100%;
  min-height: 100vh;
  padding-top: 150px;
  padding-bottom: 50px;
  background-image: url(img/bosch-contact.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.contact-div{
  background: rgba(94, 68, 60, 0.8);
  box-shadow: 11px 13px 28px -13px rgba(0, 0, 0, 0.75);
  padding: 20px;
}
.contacts{
  display: inline-block;
  margin: 20px;
  font-size: 28px;
  text-shadow: 1px 1px 2px #9E5B54;
}
.contact-img{
  vertical-align: top;
  margin-top: 30px;
}
@media (max-width: 992px){
  #contact{
    background-image: url(img/pr-1100_with_ab-3000.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media (max-width: 576px) {
  .contacts{
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .contact-img{
    margin-top: 22px;
  }
}
.forms{
  background: linear-gradient(
    66deg,
    rgba(94, 68, 60, 0.9192051820728291) 12%,
    rgba(156, 116, 116, 0.14609593837535018) 48%,
    rgba(94, 68, 60, 0.8603816526610644) 100%
  );
  width: 100%;
  min-height: 100vh;
  padding-top: 150px;
  padding-bottom: 50px;
}
.form-div{
  background: rgba(255, 255, 255, 0.7);
  min-height: 20vh;
  box-shadow: 11px 13px 28px -13px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  padding: 20px;
}
.form-heading{
  padding: 15px;
  font-size: 30px;
  color: rgba(94, 68, 60, 0.8);
  text-shadow: 1px 1px 2px #aaa;
}
.textarea-design{
  width: 100%;
  resize: none;
  border-color: transparent transparent;
}
.form-control{
  border-color: transparent transparent;
}
.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: rgba(189, 109, 89, 1);
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
.radio_container{
  display:inline-block;
  margin-right: 10px;
  margin-left: 10px;
}
.age-form{
  border-color: transparent transparent;
  border-radius: .25rem;
}
.age-form:focus{
  outline: none;
  border: 1px solid black;
}